@import 'components/__baseline.scss';
@import 'components/__functions.scss';
@import 'components/__colors.scss';
@import 'components/__mixins.scss';


/* Functions:
*
* 	fontsize([0-5]);
*
* 	baseline([INTIGER TO MULTIPLY BASELINE SIZE BY]); Use this for all padding and margins and sizing. Do not use a pixel value;
*		
*/


/* ===========================================
*	
*	  1.0 Typography
*	
*  ============================================ */

html{
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include font-stack-heading;
	
	color: $color-black-3;
}


p{
	color: $color-black-1;
	
	@include font-stack-body;
}

h4,
h5,
strong{
	font-weight: bold;
	color: $color-black-3;
}

.caption{
	font-weight: 100;
}

@media (min-width: 800px) {
	.text-spacer{
		padding-left: baseline(2);
		border-left: baseline(5) solid $color-1-alt;
	}
}

/* ===========================================
*	
*	  2.0  GUI 
*	
*  ============================================ */


a{
	color: $color-1-dark;
}

.btn,
.Field--short-form { // Border Radius for GUI elements
	@include corner-radius;
}


.btn{
	transition: all .3s;
	background: $color-1;
	
	&:hover{
		background: darken($color-1-alt, 17%);
		transform: translateY(baseline(-1/6));
		box-shadow: 0 baseline(1/6) 5px hsla(0,0,0,.15);
	}
	
		.fa:before{
			display: inline-block;
			position: absolute;
			top:50%;
			right: baseline(1);
			height: baseline(1.5);
			width: baseline(1.5);
			background: $color-2-dark;
			border-radius: 100%;
			text-align: center;
			line-height: baseline(1.5);
			transform: translateY(-50%);
			
		}
}

.btn--color-alt{
	background: $color-2;
	
	&:hover{
		background: darken($color-2-alt, 15%);
	}
}

.btn--outline{
	background: none;
	border-color: $color-nuetral-1;
	color: $color-black-1;
	
	&:hover{
		background: $color-2;
		color: $color-white-1;
		border-color: $color-2;
	}
}

.btn--submit{
	padding: 0 baseline(4);
	font-weight: bold;
	cursor: pointer;
	
	@include gradient-bottom-left($color-2-alt, mix($color-1, $color-2-alt));
	
		&:hover{
			@include gradient-top-left(mix($color-1, $color-2-alt), $color-2-alt);
				
				&:after,
				&:before{
					width: 0;
				}

		}
		
		&:before{
			content: ' ';
			position: absolute;
			width: 500%;
			top: 50%;
			right: calc(100% + 5px);
			border-top: 1px solid $color-1-alt;
			transition: all 0.1s;
		}
		
		&:after{
			content: ' ';
			position: absolute;
			width: 500%;
			top: 50%;
			left: calc(100% + 5px);
			border-top: 1px solid $color-1-alt;
			transition: all 0.1s;
		}
}

.Field--short-form.is-active{
	.fa{
		transform: scale(1.2);
	}
}

.overlay{
	display: none;
	
		@include desktop {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.8;
		}
}

/* ===========================================
*	
*	  3.0  Modules 
*	
*  ============================================ */


.Primary-header{
	background: $color-1-alt;
	overflow: hidden;
	
	.logo{
		width:  baseline(5);
		height: baseline(5);
		padding: baseline(1/2);
		background: $color-2;
	}	
		
	.logo__image{
		max-height: baseline(4);
	}

}

	.Primary-header__navigation{
		max-width: $sitewidth;
		margin: 0 auto;
		float: none;
		line-height: baseline(4);
		text-align: center;
		
			a {
				display: inline-block;
				position: relative;
				padding: baseline(1/2) baseline(1);
				line-height: baseline(1);
				text-transform: uppercase;
				transition: all .3s;
				border: 1px solid $color-1-alt;
				
				@include corner-radius;
				
				&:hover{
					border: 1px solid $color-1;
				}
			}
			
			.is-active a {
				border: 1px solid $color-1;
				
				&:after {
					content: ' ';
					position: absolute;
					top: 100%;
					left: 50%;
					width: 1px;
					height: 100%;
					border-left: 1px solid $color-1;
				}
			}
			
			
	}


.blurb{
	position: relative;
	z-index: -1;
	&.is-out-viewport{
		transform: translateY(130%);
	}
}

.blurb__icon {
	position: relative;
	border-color: $color-1;
	border-width: 1px;
	color: $color-2;
	
	&:after {
		content: ' ';
		position: absolute;
		left: calc(50% - 1px);
		top: 100%;
		height: baseline();
		border-left: 1px solid $color-1;
	}
}
	
	@include desktop {
		.blurb__title {
				position: relative;
				text-transform: uppercase;
				&:after {
					content: ' ';
					position: absolute;
					left: calc(50% - 1px);
					top: 100%;
					height: baseline(4);
					border-left: 1px solid $color-1;
				}
		}
	}

.Primary-footer__navigation {
	background: $color-2-dark;
	color: $color-white-1;
	line-height: baseline(3);
	text-align: center;
	
		li {
			display: inline-block;
		}
		
		a{
			padding: baseline(1/2);
			color: $color-white-1;
		}
}


.Cta-form{
	text-align: center;
	width: calc(100% + #{baseline(2)});
	padding: baseline(1);
	margin-top: baseline(-1);
	margin-bottom: baseline(-1);
	margin-left: baseline(-1);
		
		@include desktop {
			
			&.is-active{
				z-index: 1000;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
				background: rgba($color-2-dark, 0.95);
				@include corner-radius;
				
				.btn:after,
				.btn:before{
					width: 0;
				}
			}
			
		}
	
		.Field--optin{
			text-align: left;
			font-size: 12px;
			color: $color-white-1;
			margin-bottom: baseline();
		}
}

.Modal{
	box-shadow: 0 0 baseline(1/2) hsla(0,0,0,.15);
}

/* ===========================================
*	
*	4.0  Sections 
*	
*  ============================================ */


section{
	padding-top: baseline(3);
	padding-bottom: baseline(3);
}


/*
*	4.1 Hero Header
*/

.Hero-header{
	position: relative;
	padding:  baseline(4) 0;
	color: $color-white-1;
	overflow: hidden;
	
	@include gradient-bottom-left($color-2, $color-2-dark);
		&:before{
			content: ' ';
			position: absolute;
			left: 	0;
			top: 	0;
			width: 	100%;
			height: 100%;
			background-image: url(../images/hero-bg.jpg); // Main Background image for hero header
			background-position: center center;
			background-size: cover;
			opacity: 1;
			z-index: 0;
			opacity: 0.45;
		}
		
		h1,
		h2,
		h3{
			color: inherit;
		}
		
		.contain{
			z-index: 1;
			position: relative;
		}
		
		.highlight {
			color: $color-1-alt;
		}
		
		p{
			color: $color-white-1;
		}
		
}


/* 4.2 Page Specific Sections
*
*/

.Leader-section{
	text-align: center;
	
	.caption{
		margin-bottom: baseline(2);
	}
}

.Leader-section--about{
	text-align: left;
		
		h1{
			text-align: center;
		}
}


.blurb-row{
	margin-top: baseline(4);
}


.Image-text-section-1,
.Image-text-section-2{
	padding: 0;
		
		.Image-text__text{
			background: $color-2;
			color: $color-white-1;
		}
		h1,
		h2,
		h3,
		h5,
		h6{
			color: $color-1-alt;
		}
		p{
			color: $color-white-1;
		}
}

.Info-section{
	background: $color-white-1;
}
.How-section{
	text-align: center;
	background: $color-white-1;
		
		.btn{
			min-width: 33%;
			margin: baseline(1);
		}
}

.Requirements-section{
	border-top: 1px solid $color-1-alt;
}

.Contact-form{
	.btn{
		margin-top: baseline(1);
	}
}

.Disclaimer-section{
	p{
		font-size: 12px;
	}
}

/* 4.4 Generic
*
*/

.Section--border{
	border-bottom: 1px solid $color-1-alt;
}

.Section--dark{
	background: $color-white-1;
}

/* ===========================================
*	
*	  5.0  Breakpoints 
*	
*  ============================================ */


@media (min-width : 1600px){
	body{
		margin-left: baseline(6);
	}
	.Primary-header{
		position: fixed;
		left: 0;
		top:0;
		width: baseline(6);
		height: 100%;
		overflow: scroll;
		
			.logo{
				width:  baseline(6);
				height: baseline(6);
			}	
				
			.logo__image{
				max-height: baseline(5);
			}
	}
	
	.Primary-header__navigation { 
		clear: both;
		line-height: baseline(1);
		
		li{
			display: block;
			padding: baseline(1) baseline(1/2);
		}
		
		.is-active a {
			&:after {
				content: ' ';
				position: absolute;
				top: 50%;
				left: 100%;
				width: 100%;
				height: 1px;
				border: none;
				border-top: 1px solid $color-1;
			}
		}
	}
}

@media (max-width : 600px){
	.Primary-header{
		height: baseline(5);
		overflow: hidden;
	}
}
