
/* Colors:

	* Always use HSL. Example. ([0 - 360], [1-100], [1-100]);
	* Keep the hierarchy and values in order.
*/


$color-1:     	  hsl(164, 52, 56);		// Most used main brand color
$color-1-alt:     hsl(164, 52, 80);	
$color-1-dark:    hsl(164, 45, 46);	

$color-2: 		  hsl(204, 30, 25);		// Secondary Brand Color
$color-2-alt: 	  hsl(204, 30, 60);		// Active, or hovered state color
$color-2-dark: 	  hsl(204, 30, 15);		


$color-3:      	  green;				// Should rarely need to be used, but if you need something colorful 
$color-3-alt:  	  green;				// Active, or hovered state color


$color-nuetral-1: hsl(204, 3%, 60%);	// Lightest
$color-nuetral-2: hsl(204, 3%, 50%);
$color-nuetral-3: hsl(204, 3%, 40%);	// Darkest


$color-white-1:	  hsl(17, 15%, 96%); 	// Lighest
$color-white-2:   hsl(17, 15%, 92%);
$color-white-3:   hsl(17, 5%, 87%);		// Darkest


$color-black-1:   hsl(17, 0.5%, 45%); 	// Lighest
$color-black-2:   hsl(17, 5%, 25%);
$color-black-3:   hsl(17, 50%, 10%); 	// Darkest