$color-main: red;
$color-alt: green;

$color-nuetral-1: #666;
$color-nuetral-2: #999;
$color-nuetral-3: #ddd;

$color-white-1: #efefef;
$color-white-2: #f9f9f9;
$color-white-3: #fefefe;

$corner-radius: #{$base-line-height}rem;